@charset "UTF-8";
/*Обнуление*/
*,
*:before,
*:after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   border: none;
}

:focus {
   outline: 2px dashed #00f;
}

:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   line-height: 1.5;
   font-size: 14px;
}

input,
button,
textarea {
   font-family: inherit;
}

button {
   cursor: pointer;
}

button:focus {
   outline: none;
   border: 2px solid #007bff;
   padding: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/
