@import "_nullstyle";

@font-face {
   font-family: CyrillicOld;
   src:
      url("../fonts/CyrillicOld.woff2") format("woff2"),
      url("../fonts/CyrillicOld.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: "Arial", sans-serif;
   line-height: 1.6;
   color: #333;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

body.lock {
   overflow: hidden;
}

.container {
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}

/*---------------- HEADER ---------------*/

.header {
   background: #3f3f3f;
   color: #fff;
   //padding: 15px 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   height: 90px;

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      height: 90px;
   }

   &__logo {
      flex: 0 0 172px;
      position: relative;
      z-index: 5;
   }

   &__logo img {
      max-width: 100%;
      display: block;
   }

   &__burger {
      display: none;
   }

   &__menu {
      ul {
         display: flex;
         gap: 55px;
         margin: 0;
         padding: 0;
         font-size: 1.3em;

         li {
            position: relative;
            z-index: 2;

            a {
               color: #fff;
               font-size: 1em;
               padding: 5px;
               transition: color 0.3s ease;

               &:hover {
                  color: #66a74f;
               }
               &:focus {
                  outline: none;
               }
               &.active {
                  color: #66a74f;
               }
            }
         }
      }
   }
}

.header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #3f3f3f;
   z-index: 2;
}

/*-----------------Стилі для секцій----------------*/

.section {
   min-height: calc(100vh - 90px);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
}

/*---------------- HERO -----------------*/

.section {
   &__hero {
      background: url("../image/hero.JPG") no-repeat center top;
      background-size: cover;
      color: #fff;
      overflow: hidden;
      margin-top: 90px;
      align-items: flex-start;
      position: relative;
      padding-top: 90px;

      .hero__content {
         h1,
         p {
            font-family: CyrillicOld;
            text-transform: uppercase;
            text-shadow:
               2px 2px 4px rgba(0, 0, 0, 0.7),
               0 0 10px rgba(255, 255, 255, 0.5);
         }

         h1 {
            font-size: 3em;
            line-height: 1.3;
            display: inline-block;
         }
         p {
            font-size: 1.5em;
            line-height: 1.6;
            letter-spacing: 0.05em;
            margin-top: 20px;
            display: inline-block;
         }
      }
   }
}

/*---------------Кнопки--------------*/

.btn {
   display: inline-block;
   padding: 10px 20px;
   background: #66a74f;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
   font-size: 1.1em;
   position: absolute;
   bottom: 40px;
   left: 50%;
   transform: translateX(-50%);

   &:hover {
      background: #55893e;
   }
}

/*---------------- ABOUT -----------------*/

.section {
   &__about {
      background: #f4f4f4;
      color: #333;
      padding: 50px 0;
   }
}

.about {
   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__text {
      flex: 1;
      padding-right: 20px;
      font-size: 1.2em;
      line-height: 1.3;
   }

   &__text h2 {
      font-size: 1.5em;
      font-weight: 500;
      padding-bottom: 20px;
   }

   &__text p {
      padding-bottom: 20px;

      &:last-child {
         padding-bottom: 0;
      }
   }

   &__image {
      flex: 1;
      //background: url("path_to_image.jpg") no-repeat center center;
      background-size: cover; // зображення займатиме всю область
      height: 100%;
      width: auto;
      margin-bottom: 20px; // висота для зображення
   }
}

/*---------------- SERVICES -----------------*/

.section {
   &__services {
      background: linear-gradient(to top, #f4f4f4, #ddd);
      color: #333;
      padding: 40px 20px;

      .services__content {
         max-width: 1200px;
         margin: 0 auto;
         text-align: center;

         .section__title {
            font-size: clamp(1.8em, 2.5vw, 2.5em);
            font-weight: bold;
            color: #3f3f3f;
            margin-bottom: 40px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
            line-height: 1.4;

            &::after {
               content: "";
               display: block;
               width: 180px;
               height: 4px;
               background: #3f3f3f;
               margin: 20px auto 0;
            }
         }
      }

      .swiper-container {
         width: 100%;
         overflow: hidden;
         max-width: 1200px;
         margin: 0 auto;
      }

      .swiper-slide {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         background: #3f3f3f;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
         transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;

         &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
         }

         .slide__content {
            text-align: left;

            .slide__image img {
               height: 220px;
               width: 100%;
               max-height: 350px;
               object-fit: cover;
               border-radius: 5px;
               margin-bottom: 10px;
            }

            .slide__text {
               color: #fff;

               .slide__text-title {
                  font-size: clamp(1.5em, 2vw, 1.8em);
                  font-weight: bold;
                  margin-bottom: 10px;
               }

               .slide__text-subtitle {
                  font-size: clamp(1em, 1.2vw, 1.1em);
                  margin-bottom: 20px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 240px;
               }

               .btn {
                  position: static;
                  bottom: 15px;
                  transform: translate(0px, 0px);
               }
            }
         }
      }
   }

   .swiper-pagination {
      .swiper-pagination-bullet {
         &-active {
            background-color: #3f3f3f;
            height: 10px;
         }
      }
   }

   .swiper-button-prev,
   .swiper-button-next {
      color: #333;
      transition:
         color 0.3s ease,
         transform 0.3s ease;
      position: absolute;
      top: 60%;
      z-index: 10;
      transform: translateY(-50%);

      &:hover {
         color: #66a74f;
         transform: scale(1.2);
      }
   }
}

/*---------------- Блок беталей SERVICES --------------*/

.details {
   display: none;

   &__title {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
   }

   &__container {
      display: flex;
      gap: 20px;
      width: 90%;
      max-width: 1200px;
      height: 80%;
      background: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      overflow-y: auto;
   }

   &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;

      &:hover {
         color: #ccc;
      }
   }

   &__text {
      flex: 0 0 50%;

      h3 {
         font-size: 1.3em;
         font-weight: bold;
         margin-bottom: 10px;
      }

      p {
         font-size: 1.2em;
         line-height: 1.3;
         margin-bottom: 15px;
      }
   }

   &__gallery {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 0 auto;

      img {
         width: 100%;
         max-width: 350px;
         border-radius: 4px;
         object-fit: cover;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }
   }

   &.visible {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000;
      overflow: hidden;
      opacity: 0;
      transform: scale(0.9);
      transition:
         opacity 0.3s ease,
         transform 0.3s ease;

      &.animate {
         opacity: 1;
         transform: scale(1);
      }
   }
}

/*---------------- GALLERY -----------------*/

.section {
   &__gallery {
      position: relative;
      padding-top: 50px;
      h2 {
         font-size: 1.8em;
         letter-spacing: 0.1em;
         line-height: 1.2;
         font-weight: 500;
         padding-bottom: 20px;
      }
   }
}

.tabs {
   display: flex;
   justify-content: center;
   gap: 10px;
   background: #ffffff;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 10px;
   width: 100%;
   max-width: 1000px;
   margin: 0 auto 20px;
}

.tab-button {
   flex: 1;
   text-align: center;
   padding: 10px 20px;
   cursor: pointer;
   background-color: #f0f0f0;
   border-radius: 6px;
   transition: all 0.3s;
   font-size: 1.2em;
   font-weight: 500;

   &:hover {
      background-color: #e0e0e0;
   }

   &.active {
      background-color: #66a74f;
      color: #ffffff;
      font-weight: bold;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
   }

   &:focus,
   &:focus-visible,
   &:active {
      border: none !important;
   }
}

.gallery {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

   &-grid {
      display: none;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 15px;
      max-height: 75vh;
      overflow-y: auto;
      padding-right: 10px;
      opacity: 0;
      transform: translateY(10px);
      transition:
         opacity 0.4s ease,
         transform 0.4s ease;
   }

   &-grid:first-of-type {
      display: grid;
      opacity: 1;
      transform: translateY(0);
   }

   &-item {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition:
         transform 0.3s,
         filter 0.3s;
      cursor: pointer;

      &:hover {
         transform: scale(1.05);
         filter: brightness(0.7);
      }
   }
}

.fullscreen-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   z-index: 1999;
   opacity: 0;
   transition: opacity 0.3s ease;

   &.fullscreen-active {
      opacity: 1;
   }
}

.fullscreen-clone {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: auto;
   height: auto;
   max-width: 90%;
   max-height: 90%;
   object-fit: contain;
   z-index: 2000;
   filter: none !important;
   cursor: zoom-out;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
   border-radius: 8px;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease;

   &.fullscreen-active {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
   }
}

#video {
   display: none;
   grid-template-columns: repeat(2, 1fr);
   gap: 16px;
   max-height: 75vh;
   overflow-y: auto;
   padding-right: 10px;

   iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      border: none;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
}

/*---------------- CONTACTS -----------------*/

.section {
   &__contacts {
      padding: 50px 0;
      background: linear-gradient(135deg, #cccccc, #aaaaaa);
   }
}

.contacts {
   &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
   }

   &__left {
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
   }

   &__left {
      h2 {
         font-size: 2.5em;
         font-weight: 700;
         text-transform: uppercase;
         margin-bottom: 60px;
      }
   }

   &__address,
   &__phone {
      font-size: 2.5em;
      line-height: normal;
      color: #333;
   }

   &__phone a {
      color: #555555;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;
   }

   &__phone a:hover {
      color: #333333;
   }

   &__icons {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-top: 30px;
   }

   &__right {
      flex: 1 1 55%;
   }

   &__right iframe {
      width: 100%;
      height: 600px;
      border: 0;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
}

.icon {
   display: inline-block;
   width: 40px;
   height: 40px;
   //border-radius: 50%;
   overflow: hidden;
   transition: transform 0.3s ease;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &:hover {
      transform: scale(1.1);
   }
}

/*------------------ FOOTER ---------------*/

.footer {
   background: #3f3f3f;
   color: #fff;
   padding: 20px 0;
   text-align: center;

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      @media (min-width: 768px) {
         flex-direction: row;
         justify-content: space-between;
      }
   }

   p {
      margin: 0;
      font-size: 0.9em;
   }

   &__menu {
      ul {
         display: flex;
         gap: 20px;
         padding: 0;
         margin: 0;

         li {
            list-style: none;

            a {
               color: #fff;
               font-size: 0.9em;
               transition: color 0.3s ease;

               &:hover {
                  color: #66a74f;
               }
            }
         }
      }
   }
}

@import "responsive";
